<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Acerca de Social Bus</h1>
     <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        Social Bus es una aplicación desarrollada por <a href="http://mx.linkedin.com/in/avalos1/es" target="_blank">Gilberto Avalos</a> a petición de sus amigos para conocer a las personas con las que pasas varias horas al día sin saber quienes son.<br/><br/>
        Para contacto, sugerencias o feedback contacta:
        <i>avalosagnostic@gmail.com</i>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
