<ion-view view-title="{{ profile.given_name }}">
  <ion-content class="discover-content chat-content">
    <div class="list">
      <a class="item item-avatar" href="javascript:void(0)" ng-repeat="message in messages">
        <img ng-src="{{ message.profile.picture }}">
        <h2>{{ message.profile.given_name }}</h2>
        <p>{{ message.message }}</p>
      </a>
    </div>
  </ion-content>
  <form class="bar bar-footer" ng-submit="sendMessage()">
    <input type="text" ng-model="message"/>
    <button type="submit">
      <i class="icon ion-android-send"></i>
    </button>
  </form>
</ion-view>
