<ion-view view-title="Nuevo mensaje">
  <ion-content class="discover-content compose-content">
    <div class="list">
      <div class="item item-divider">
        Amigos
      </div>
      <div class="item" ng-show="!friends.length && !loading">No tienes amigos todavía.</div>
      <a class="item item-avatar" ng-href="#/app/messages/chat/{{ friend.profile.data.user_id }}" ng-repeat="friend in friends">
        <img ng-src="{{ friend.profile.data.picture }}">
        <h2>{{ friend.profile.data.given_name }} <span ng-show="friend.profile.data.nickname"> ({{ friend.profile.data.nickname }})</span></h2>
      </a>
    </div>
  </ion-content>
</ion-view>
