<ion-view view-title="Descubre">
  <ion-content class="discover-content">
    <div class="card" ng-show="!loading && routes.length == 0">
      <div class="item item-divider">
        ¡Agrega tus rutas!
      </div>
      <div class="item item-text-wrap">
        Todavía no tienes rutas agregadas, es necesario registrar al menos una.
      </div>
    </div>
    <div class="list" ng-repeat="route in routes">
      <div class="item item-divider">
        {{ route[0].route }}
      </div>
      <a class="item item-avatar" ng-href="#/app/profile/{{ user.profile.data.user_id }}" ng-repeat="user in route">
        <img ng-src="{{ user.profile.data.picture }}">
        <h2>{{ user.profile.data.given_name }}</h2>
        <p>Entre {{ getString(user.from) }} y {{ getString(user.to) }}.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
