<ion-view view-title="Amigos">
  <ion-content class="friends-view">

    <!-- Friend requests -->
    <div class="list">
      <div class="item item-divider">
        Solicitudes de amistad
      </div>
      <div class="item" ng-show="!friendRequests.length && !loading">No tienes solicitudes nuevas.</div>
      <div class="list card" ng-repeat="request in friendRequests">
        <div class="item item-avatar">
          <img ng-src="{{ request.profile.data.picture }}">
          <h2>{{ request.profile.data.given_name }} <span ng-show="request.profile.data.nickname"> ({{ request.profile.data.nickname }})</span></h2>
          <p>{{ request.profile.data.birthday }}</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#" ng-click="acceptRequest(request)">
            <i class="icon ion-person-add"></i>
            Aceptar
          </a>
          <a class="tab-item" href="#" ng-click="removeRequest(request)">
            <i class="icon ion-close-circled"></i>
            Rechazar
          </a>
          <a class="tab-item" ng-href="#/app/profile/{{ request.profile.data.user_id }}">
            <i class="icon ion-search"></i>
            Ver Perfil
          </a>
        </div>
      </div>
    </div>

    <!-- Friends -->
    <div class="list">
      <div class="item item-divider">
        Amigos
      </div>
      <div class="item" ng-show="!friends.length && !loading">No tienes amigos todavía.</div>
      <a class="item item-avatar" ng-href="#/app/profile/{{ friend.profile.data.user_id }}" ng-repeat="friend in friends">
        <img ng-src="{{ friend.profile.data.picture }}">
        <h2>{{ friend.profile.data.given_name }} <span ng-show="friend.profile.data.nickname"> ({{ friend.profile.data.nickname }})</span></h2>
        <p>Click para ver perfil</p>
      </a>
    </div>
  </ion-content>
</ion-view>
