<ion-modal-view>
  <!-- <ion-header-bar>
    <h1 class="title">Iniciar Sesión</h1>
  </ion-header-bar> -->
  <ion-content class="padding-vertical">
    <form ng-submit="doLogin()">
      <div class="padding logo">
        <img src="img/bus-color.png" alt="Social Bus">
        <h2>Social Bus</h2>
        <div class="padding">
          <p>Bienvenido a la red social donde conocerás a las personas con las que compartes tus travesías diarias.</p>
        </div>
      </div>
      <!-- <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">
            <i class="ion-social-facebook" style="font-size:22px; margin-right: 8px;"></i>
            Iniciar sesión con Facebook
          </button>
        </label>
      </div> -->
    </form>
  </ion-content>
  <div class="bar bar-footer">
    <div class="title"></div>
    <button class="button button-clear" ng-click="about()">Acerca de</button>
  </div>
</ion-modal-view>
