<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/discover">
          <i class="icon ion-home"></i>
          Descubre
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/messages">
          <i class="icon ion-chatbubble-working"></i>
          Mensajes
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/friends">
          <i class="icon ion-person-stalker"></i>
          Amigos
        </ion-item>
        <ion-item class="item-divider">Usuario</ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/profile/0">
          <i class="icon ion-person"></i>
          Mi Perfil
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/routes">
          <i class="icon ion-location"></i>
          Mis Rutas
        </ion-item>
        <ion-item nav-clear class="item-icon-left" ng-click="logout()">
          <i class="icon ion-power"></i>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
