<ion-nav-bar></ion-nav-bar>
<ion-view view-title="Mensajes">
  <ion-nav-buttons side="secondary">
    <a class="button" ng-href="#/app/messages/compose" style="border:none;">
      <i class="icon ion-android-send"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="discover-content">
    <div class="card" ng-show="!loading && messages.length == 0">
      <div class="item item-divider">
        Sin mensajes
      </div>
      <div class="item item-text-wrap">
        Todavía no tienes mensajes nuevos.
      </div>
    </div>
    <div class="list">
      <a class="item item-avatar" ng-href="#/app/messages/chat/{{ message[0].linkId }}" ng-repeat="message in messages track by $index" ng-init="lastMessage = message[message.length - 1]">
        <img ng-src="{{ lastMessage.profile.picture }}">
        <h2>{{ lastMessage.profile.given_name }}</h2>
        <p>{{ lastMessage.message }}.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
