<ion-modal-view ng-controller="NewRouteCtrl">
  <ion-header-bar>
    <h1 class="title">Agregar Ruta</h1>
    <button class="button button-clear button-positive" ng-click="close()">Cancelar</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Ciudad
        </div>
        <select ng-model="city" ng-init="city = 'Guadalajara'">
          <option selected value="Guadalajara">Guadalajara</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Ruta
        </div>
        <select ng-model="route" ng-init="route = 'R-101 Vía 1'">
          <option ng-repeat="r in rutas" value="{{ r }}">{{ r }}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Entre hora
        </div>
        <select ng-model="from" ng-init="from='5'">
          <option ng-repeat="hour in hours" value="{{ hour.id }}">{{ hour.str }}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Y hora
        </div>
        <select ng-model="to" ng-init="to='5'">
          <option ng-repeat="hour in hours" value="{{ hour.id }}">{{ hour.str }}</option>
        </select>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-stable" ng-click="saveRoute({ city: city, route: route, from: from, to: to })">
        Guardar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
