<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Bienvenido</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Antes de comenzar
      </div>
      <div class="item item-text-wrap">
        Agrega las rutas que tomas para descubrir qué personas comparten tus travesías.
      </div>
    </div>
    <button class="button button-block button-stable" ng-click="closeModal()">
      Entendido
    </button>
  </ion-content>
</ion-modal-view>
