<ion-view view-title="Perfil">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{ profile.picture }}">
        <h2>{{ profile.given_name }}<span ng-show="profile.nickname"> ({{ profile.nickname }})</span></h2>
        <p>{{ getGender() }}, {{ profile.birthday }}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ profile.cover.source }}" height="200">
        <p>
          {{ profile.bio }}
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left tabs-profile" ng-class="{ 'tabs-balanced': !sentRequest && !profile.isFriend }" ng-hide="userId">
        <a class="tab-item" href="#" ng-click="sendFriendRequest()" ng-disabled="sentRequest" ng-show="!userId && !profile.isFriend">
          <i class="icon ion-person-add"></i>
          <span ng-show="!sentRequest">Enviar solicitud de amistad</span>
          <span ng-show="sentRequest">Solicitud de amistad enviada</span>
        </a>
        <a class="tab-item" ng-href="#/app/messages/chat/{{ profile.user_id }}" ng-show="profile.isFriend">
          <i class="icon ion-android-chat"></i>
          <span>Enviar mensaje</span>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
