<ion-view view-title="Mis Rutas">
  <ion-content ng-class="{ padding: !items.length && loaded }">
    <p ng-show="!items.length && loaded">No tienes ninguna ruta, agrega al menos una para conocer a tus compañeros de viaje.</p>
    <ion-list ng-show="items.length">
      <a ng-repeat="item in items" class="item item-avatar" style="padding-left: 15px;">
        <h2>{{ item.route }}</h2>
        <p>Entre {{ getString(item.from) }} y {{ getString(item.to) }}.</p>
      </a>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-positive" ng-click="showAddRoute()">
    <div class="title"> <i class="icon ion-plus-circled"></i>&nbsp;&nbsp;Agregar Ruta</div>
  </div>
</ion-view>
