/* Empty. Add your own CSS if you like */
.tabs-profile > a {
  max-width: 80%;
}

.tabs-profile > a > span {
  font-size: 16px;
}

.friends-view .list:last-child.card {
  margin-bottom: 0px;
}

.friends-view .list:first-child {
  margin-bottom: 0;
}

.friends-view .list:first-child .item:last-child {
  border-bottom: none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300);
.logo {
  text-align: center;
}

.logo h2 {
  margin-top: 15px !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif !important;
}

.logo p {
  color: #444 !important;
  font-weight: 400 !important;
}

.a0-header h1 {
  opacity: 0 !important;
}

.logo > .padding {
  padding-top: 5px;
}

.a0-panel {
  box-shadow: none !important;
  background: transparent !important;
  /*top: 120px;*/
}

.a0-overlay {
  background: transparent !important;
}

.a0-mode-container {
  margin-top: 20px;
}

.a0-separator,
.a0-footer,
.a0-inputs,
.a0-action,
.a0-avatar,
.a0-close {
  display: none !important;
}

.a0-twitter {
  display: none !important;
}

.a0-icon-container {
  height: 250px !important;
}

.discover-content .list {
  margin-bottom: 0;
}

.discover-content .list:not(:last-child) .item:last-child {
  border-bottom: none;
}

.compose-content h2 {
  margin-top: 9px;
}

.bar-footer {
  box-shadow: 0 -2px 15px #BBB;
  border-top: solid 2px #EEE;
}

.bar-footer input {
    height: 100%;
    padding: 0 10px;
    padding-right: 10px;
}

.bar-footer button {
  margin-right: 3px;
  margin-top: -2px;
  background-color: transparent;
  color: #4A87EE;
  border: none;
  font-size: 22px;
}

.chat-content p{
    text-overflow: clip;
    white-space: normal;
}

.chat-content .activated {
  background-color: white;
}
